body{
    background-color: #FDF3E7;
    font-family: 'Helvetica';
    color: MidnightBlue;
    width: 50%;
    margin-left: 25%;
    min-width: 500px;
}

.SideMenu{
    position: fixed;
    top: 300px;
    left: 40px;
}

h1{
    text-decoration: underline;

}

body img{
    width: 95%;
}

a{
    color: RoyalBlue;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: deepskyblue;
}

ul{
    margin-left: 60px;
}

h2{
    margin-left: 25px;
}

p{
    margin-left: 70px;
}

#profile {
    width: 300px;
    height: 227px;
    position: fixed;
    left: 20px;
    top: 20px;
}
